/*timer*/
*{
    box-sizing:border-box;
    
}
*,html,*:before,*:after{
    box-sizing:inherit;
}
body{
    box-sizing:inherit;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100vh;
    width:100vw;
    padding:0;
    scroll-snap-type:y proximity;
    scroll-behaviour:smooth;
   /*background-image:linear-gradient(gold,yellow,green,red);*/
} 
.scroll{
    opacity:0;
    transition:opacity 1s;
}
.scroll.scrolled{
    opacity:1;
}
.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
 
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
 .scrolled.slide-top{
     animation: slide-top 1s ease-in-out both;
 }
 .scrolled.slide-down{
      animation: slide-down 1s ease-in-out both;
 }
 @keyframes slide-top{
     0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
 }
 @keyframes slide-down{
     0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
 }
.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
 
.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
 
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header{
    
}
.score-container{
   position:absolute;
   display:none;
}
.score{
    background-color:#aabbff;
   
}
#score{
   position:absolute;
    display:none;
    
}
#each{
   
}
.btn{
    border:none;
    outline:none;
    color:inherit;
    background-color:inherit;
    padding:8px;
    text-align:center;
    vertical-align:center;
    }
    .btn:disabled:hover{
        box-shadow:none;
        
        }
.btn{
    border:0.2px solid black;
    
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    
    }
.btn:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19)
    
    }
.btn{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;user-select:none;
    
    }   
.btn:disabled{
    cursor:not-allowed;
    opacity:0.3;
    
    }

.controls{
   
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    width:100vw;
}
.controls .btn{
 
    width:50vw;
    position:absolute;
    bottom:10%;
    left:25vw;
    border-radius:30px;
    color:#deedae;
    background-color:#eec29a;
}
.container{
   /* position:absolute;
    left:0;
    top:0;
    */
    box-sizing:border-box;
    width:100%vw;
    height:100vh;
    justify-content:center;
    align-items:center;
    
}
.innerques{
    /* position:absolute;
    left:0;
    top:0;
  */
    box-sizing:border-box;
    
    padding:16px 32px;
    height:100vh;
    width:100vw;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
   border-radius:30px;
   background-image:repeating-conic-gradient(#b1cbbb,#eec29a);
   color:#c9444c;
   
text-align:center;  
   position:relative;     
}
[type=radio]{
    padding:0;
    width:24px;
    height:24px;
    position:relative;
    top:6px;
    
    left:-5px;
    border:none;
    accent-color:grey;
    
    }
   
.img{
    width:120%;
    height:auto;
    align-self:flex-start;
    margin:0;
    margin-left:-1.4em;
    border:none;
    background-color:transparent;
    border-radius:40px;
    box-shadow:0px 0px 10px 10px #b9936c;;
}
.container_1{
    box-sizing:border-box;
    padding:0.01em 16px;
    margin:0;
    height:100vh;
    width:100%;
    display:flex;
    flex-flow:column wrap;
    align-items:space-evenly;
    justify-content:space-evenly;
    overflow:hidden;
}
#math_container,#bee_container,#chem_container,#gov_container,#eng_container,#lit_container{
   color:#b9936c;
    background-image:repeating-linear-gradient(47deg,#dac293,#e6e2d3 15%,#c4b7a6 20%)
}
.quiz_btn{
    border:2px solid black;
    padding:1.1em;
    border-radius:30px;
    width:60vw;
    color:#e6e2a1;
    background:#c2b7a6;
    font-weight:bolder;
    font-size:1.4em;
    margin-buttom:1em;
    }
.quiz_type{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
}
#bee_container{
  
}
#lit_container{
   
}
#gov_container{
  height:110%;  
    
}
#chem_container{
    
}
.container{
    
}
#question{
    background-color:#234478;
    height:100vh;
    width:100vw;
    overflow:auto;
    display:flex;
   align-items:center;
   justify-content:center;
}

